.product-card {
    padding: 10px 5px;
    border: 1px solid black;
    width: 260px;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px gray;
    &__img {
        width: 250px;
        height: 220px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.product-name-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .product-content {
        h3{
            margin: 0;
        }
    }
    .product-cart {
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &__icon {
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}